<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"
      disableClose = "true">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#"[routerLink]="['/dashboard']" routerLinkActive="router-link-active">Dashboard</a>
      <a mat-list-item href="#"[routerLink]="['/userfultooling']" routerLinkActive="router-link-active">Useful Tooling</a>
      <a mat-list-item href="#"[routerLink]="['/experimental']" routerLinkActive="router-link-active">Experimental</a>
      <a mat-list-item href="#"[routerLink]="['/admin/upcomingfeatures']" routerLinkActive="router-link-active">Upcoming Features</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>stewartapp</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
